[Desktop Entry]
Encoding=UTF-8
Name=Lake
Comment=Lake P2P Cryptocurrency
Comment[fr]=Lake, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Lake, eşten eşe kriptografik sanal para birimi
Exec=dash-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/dash;
Categories=Office;Finance;
